<div class="col-md-12">
  <div class="transitions-enabled" id="photos">
    <% @photo_links.each do |photo_location| %>
      <% if photo_location != nil %>
        <div class="box panel panel-default">
          <%= link_to (image_tag photo_location), photo_location %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>